<nav class="navbar navbar-expand-lg bg-primary header" style="display: flex;align-items: center !important;">
  
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="display: flex;align-items: center;font-weight: 700;">
      <img src="./../assets/img/digital-library-logo-design-1c96fa.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top" style="margin-right: 5%; border-radius: 5px;">
      Biblioteca
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" *ngIf="isAdminLoggedIn || isUserLoggedIn">
      <ul class="navbar-nav " style="display: flex; justify-content: space-between;align-items: center;margin: auto; font-size: 20px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/libros']" href="#">Biblioteca</a>
        </li>
        <li class="nav-item" *ngIf="isAdminLoggedIn">
          <a class="nav-link active" aria-current="page"[routerLink]="['/busqueda']" fragment="lista">Busqueda</a>
        </li>
        <li class="nav-item" *ngIf="isAdminLoggedIn">
          <a class="nav-link active" aria-current="page" [routerLink]="['/usuarios']" fragment="edicion" >Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="isAdminLoggedIn">
          <a class="nav-link active" aria-current="page" [routerLink]="['/crud']" fragment="contacto" href="#contacto"  href="#">Contacto</a>
        </li>
        <!-- 
        <i class="bi bi-person-fill"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
       -->
    <div class="navbar-person">
      <i class="bi bi-person-x-fill"style="font-size: 40px;" (click)="logout()"></i>
    </div>
      </ul>

    
      
    </div>
    
   
  </div> 
  
</nav>


<router-outlet></router-outlet>

