<div style="width: 20px; height: 200px;"></div>
<div class="container text-center "routerLink="/busquedaTitle" >
    <a routerLink="/detalle" class="btn btn-lg btn-info enlace-grande">
      <i class="fas fa-arrow-right"></i> Busqueda por Titulo
    </a>
  </div>

  <div class="container text-center my-5" routerLink="/busquedaId">
    <a routerLink="/detalle" class="btn btn-lg btn-success enlace-grande">
      <i class="fas fa-arrow-right"></i> Busqueda por Id
    </a>
  </div>

  <div class="container text-center my-5" routerLink="/busquedaIsbn">
    <a routerLink="/detalle" class="btn btn-lg btn-dark enlace-grande">
      <i class="fas fa-arrow-right"></i> Busqueda por Isbn
    </a>
  </div>
<br>
<br>
<br>
  <footer class="bg-body-tertiary text-center text-lg-start footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(33, 27, 222, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/"></a>
    </div>
    <!-- Copyright -->
  </footer>



