.enlace-grande {
    display: inline-block;
    width: 80%;
    height: 150px; /* Ajusta la altura según lo necesites */
    line-height: 150px; /* Centra el texto verticalmente */
    font-size: 1.5rem; /* Tamaño de fuente grande */
    text-decoration: none;
    color: white;
    /*background-color: #007bff;  Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .enlace-grande:hover {
    background-color: #0056b3; /* Color de fondo en hover */
    transform: scale(1.05); /* Efecto de escala en hover */
  }
  
  .enlace-grande i {
    margin-right: 10px; /* Espacio entre ícono y texto */
  }

  .footer{

   width: 100%;
   background-color: rgb(0, 123, 255) !important;
}